.cart-container {
  width: 100%;
  margin: 30px auto;
  padding: 25px;
  background: linear-gradient(135deg, #f4f4f9, #e7e9fc);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.cart-container h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
  font-weight: bold;
}

.cart-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 12px 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.cart-item:hover {
  transform: translateY(-2px); 
}

.cart-item span {
  font-size: 18px;
  color: #2c3e50;
}

.remove-btn {
  padding: 8px 15px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.remove-btn:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

.total-container {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2c3e50;
}

.total-container span {
  color: #2c3e50;
}

.add-btn {
  padding: 12px 25px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  width: 100%;
  font-size: 18px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.add-btn:hover {
  background-color: #229954;
  box-shadow: 0 4px 10px rgba(39, 174, 96, 0.2); 
}

.empty-cart {
  text-align: center;
  padding: 20px;
}

.empty-cart h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #2c3e50;
}

.empty-cart p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.empty-cart-img {
  width: 150px;
  height: auto;
  opacity: 0.8;
  transition: transform 0.3s, opacity 0.3s;
}

.empty-cart-img:hover {
  opacity: 1;
  transform: scale(1.1); /* Efect subtil de mărire la hover */
}
