.magazin-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.category-btn {
  padding: 10px 25px;
  font-size: large;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: 0.3s;
}

.category-btn.active,
.category-btn:hover {
  background-color: #55a375;
  color: white;
  border-color: #27ae60;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 40px;
}

.product-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-img {
  width: 100%;
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-price {
  font-size: 14px;
  margin-bottom: 10px;
}

.add-btn {
  padding: 8px 12px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.add-btn:hover {
  background-color: #229954;
}
