body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1,
h2 {
  font-family: "Helvetica", sans-serif;
  color: #333;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
